*{
    font-family: montserrat;
    box-sizing: border-box;
    margin:0;
    padding:0;
    

}
body{
    background:  whitesmoke;
  
        position: sticky !important;
        top:0;
        z-index: 1;
   
    
    
}
::-webkit-scrollbar{
    display: none;
}
.section-padding{
    padding:100px 0;
}
ul .dropdown-menu{
    max-width: 10px;
}

.collapse{
margin-right: 20px;
}
.navbar a img{
    height: 65px;
    width: 65px;
    
}
.navbar{
    position: sticky !important;
    top:0;
    z-index: 1;
   
}

.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-light .navbar-brand{
    color:#000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    
    color:#000;
    
}
.nav-item .nav-link:hover {
    border-bottom: 2px solid rgb(45, 168, 45);
    
}

.navbar-dark .navbar-brand .text{
color:rgb(45, 168, 45);
font-size: 35px;
padding-left: 20px;
letter-spacing: 4px;
font-weight:bold;
-webkit-text-stroke-color: white;
    -webkit-text-stroke-width: .3px;
}
.container {
    position: relative;
    overflow: hidden;
    width: 100%;
   
  
  }
.card{
    margin-bottom: 20px;
    
    
    
}
@media (max-width:270px){
    .card-header h4{
        font-size: 3vh;
    }
}
@media (max-width:240px){
    .card-header h4{
        font-size: 2.3vh;
    }
    
}
@media (max-width:350px){
    .text{
       display: none;
    }
}
